.error-message {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: red;
  color: white;
  font-family: "Raleway";
  font-weight: 500;
  border-radius: 7px;
}

.error-message__content {
  padding: 20px 0;
}

.error-message--border-bottom {
  border-bottom: 5px solid lightcoral;
}
.error-message--border-right {
  border-right: 5px solid lightcoral;
}
.error-message--border-left {
  border-left: 5px solid lightcoral;
}
.error-message--border-top  {
  border-top : 5px solid lightcoral;
}
