@import './variables.scss';
@import './typography.scss';
@import './raleway.scss';

* {
	margin: 0;
	padding: 0;
}

body {
  margin: 0;
  font-family: $main-font-family;
  font-weight: $font-weight-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html,
#root {
  height: 100vh;
  font-family: $main-font-family;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text--center {
  text-align: center;
}
.cursor--pointer {
  cursor: pointer;
}
