/* Main colors */
$primary-color: #091334;
$secondary-color: #5F78A9;
$accent-color: #D500F9;
$info-color: #00ACC1;
$warning-color: #D32F2F;
$success-color: #00E676;

/* Typography */
$main-font-family: 'Raleway';

$font-size-heading-1: 96px;
$font-size-heading-2: 60px;
$font-size-heading-3: 48px;
$font-size-heading-4: 34px;
$font-size-heading-5: 24px;
$font-size-heading-6: 20px;
$font-size-body-1: 16px;
$font-size-body-2: 14px;
$font-size-caption: 12px;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

/* Grid */
$grid-column-count: 24;

/* Other */
$button-border-radius: 40px;
$input-border-radius: 10px;
$separator-height: 4px;
